extends layouts/main

block content 
    .form-container 
        form(action=`/videos${routes.upload}` method="post") 
            label(for="file") 
            input(type="file" id="file" name="file" accept="video/*" required=true)
            input(type="text" name="title" placeholder="제목" required=true)
            textarea(name="description" placeholder="내용" required=true) 
            input(type="submit" value="업로드")